*/Data_ingestion/create_topic.sh
*/Data_ingestion/userslist.id
*/Data_ingestion/venueslist.id
*/kafkadata/*
*/spark_batch/target/*
*/spark_batch/spark-warehouse/*
*/spark_batch/project/target/*
*/spark_batch/project/project/*
*/second_consumer/target/*
*/second_consumer/spark-warehouse/*
*/second_consumer/project/target/*
*/second_consumer/project/project/*
*/spark_kafka/target/*
*/spark_kafka/spark-warehouse/*
*/spark_kafka/project/target/*
*/spark_kafka/project/project/*
*/spark_streaming/target/*
*/spark_streaming/spark-warehouse/*
*/spark_streaming/project/target/*
*/spark_streaming/project/project/*
